@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Work+Sans:ital,wght@0,300;0,400;1,200;1,300;1,400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body p {
    font-family: 'work sans';
}

.container {
    width: 1200px;
    margin: auto;
}


li {
    list-style: none;
}

header a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
}

header a:hover {
    color: #c6eefd;

}

header {
    width: 100%;
    position: fixed;
    padding: 0 2rem;
    background-color: #032e65;
}

.navbar {
    width: 100%;
    height: 80px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo img {
    width: 50%;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;

}

.navbar .toggle_btn:active {
    scale: 0.95;
}

.action_btn {
    background-color: white;
    color: black;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale .2 ease;
}

.action_btn:hover {
    scale: 1.05;
    background-color: #c6eefd;
    color: black;
}

.action_btn:active {
    scale: 0.95;
}

/* DROP DOWN MENU */
.dropdown_menu {
    margin: auto;
    margin-bottom: 30px;
    right: 0;
    display: none;
    position: static;
    right: 2rem;
    height: 0;
    top: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 240px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}


/* Footer */
.footer-container {}


footer {
    left: 0;
    right: 0;
    position: static;
    width: 100%;
    font-family: 'work sans, segoe UI', sans-serif;
    padding: 20px 0;
    background-color: #192e50;
}

.footer .social {
    justify-content: center;
    display: flex;
    text-align: center;
    padding-bottom: 25px;
    color: #ffffff;
    position: static;

}

.footer .social a {
    position: static;
    font-size: 24px;
    color: inherit;
    border: 1px solid #ffffff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: block;
    text-align: center;
    margin: 0 8px;
    opacity: 0.8;
}

.footer .social a:hover {
    opacity: 2;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul a {
    font-family: 'work sans', sans-serif;
    color: white;
    text-decoration: none;
    opacity: 0.9;

}

.footer ul a:hover {
    opacity: 2;
    color: #c6eefd;
    font-weight: bold;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
}



/* RESPONSIVE */
@media (max-width: 992px) {

    .navbar .links,
    .navbar .action_btn {
        display: none;
    }


    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }

}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }

    .navbar .logo {
        top: 0;
        font-size: 20px;
    }

    .footer ul {
        font-size: 13px;
    }

}